<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076478956998-p471245g152rdnitr4fnaskmenn6hq2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076478956998-p471245g152rdnitr4fnaskmenn6hq2p</string>
	<key>API_KEY</key>
	<string>AIzaSyA9RxLQ4Yw805cZW3esY17UJ0gSAn8XU4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1076478956998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocRemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>poc-remote-config-92983</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-remote-config-92983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076478956998:ios:568910d7b01d6d1daf8ec7</string>
</dict>
</plist>